.card-container {
    display: grid;
    grid-template-columns: 66px 1fr;
    border: 2px solid black;
    margin: 10px;
    padding: 16px;
    border-radius: 20px;
    margin: 8px auto;
    position: relative;
    min-height: 100px;
    .fa-spinner {
        position: absolute;
        top: 40%;
        left: 49%;
        font-size: 1.5rem;
    }
    .card-left {
        img {
            height: 52px;
            width: 52px;
            border-radius: 20px;
            box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
            object-fit: cover;
    
            @media screen and(max-width: 590px) {
                height: 40px;
                width: 40px;
                margin-left: 18px;
                border-radius: 14px;
            }
        }
        @media screen and(max-width: 590px) {
          position: absolute;
          transform: translate(17px, 18px);
        }
    }
    .card-right {
        @media screen and(max-width: 590px) {
          margin-left: 18px;
        }
        .card-header {
            display: flex;
            justify-content: space-between;
            margin: 2px 0 4px;
            min-height: 35px;

            @media screen and(max-width: 590px) {
                margin: 12px 0 14px;
            }
            @media screen and(max-width: 440px) {
                flex-direction: column;
            }
            .username {
                display: flex;
                align-content: flex-start;
                @media screen and(max-width: 590px) {
                margin-left: 52px;
                }
                @media screen and(max-width: 440px) {
                transform: translateY(-18px);
                }
                p{
                    font-size: 13px;
                    font-weight: 500;
                    margin: 0;
                }
            }
            span {
                font-style: italic;
                font-size: 12px;
                color: gray;
        
                @media screen and(max-width: 440px) {
                  transform: translate(52px, -20px);
                }
            }
        }
        p {
            margin: 3px 0 9px;
            font-size: 1.1rem;
            text-align: left;
      
            @media screen and(max-width: 440px) {
              margin-top: -18px;
            }
        }
        .card-pic {
            width: 100%;
            border-radius: 6px;
            margin-top: 12px;
            box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
        }
    }
    .card-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding: 12px 0 4px;

        img {
            height: 22px;
            width: 22px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              transform: scale(1.2);
            }
        }
        .comment-icon,
        .like-container {
            display: flex;
            align-items: center;

            span {
                font-size: 1.02rem;
                position: absolute;
                transform: translate(29px, 2px);
            }
        }
    }
    .comment-container.client {
        background: grey;
        border: none;
        border-radius: 20px 20px 6px 20px;
      }
      .comment-container {
        display: grid;
        grid-template-columns: 50px 1fr;
        border: 1px solid black;
        padding: 15px;
        margin: 5px 0;
        border-radius: 20px 20px 20px 6px;
  
        img {
          height: 40px;
          width: 40px;
          border-radius: 14px;
          box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
          object-fit: cover;
  
          @media screen and(max-width: 440px) {
            height: 37px;
            width: 37px;
          }
        }
    }
}