.feed {
  margin: 30px auto;
  width: 60%;
  .thread-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .feed {
    width: 85%;
  }
}
