.app-footer{
    display: flex;
    height: auto;
    width: 100%;
    position: sticky;
    background-color: rgb(3, 31, 92);
    &-logo{
        height: 150px;
        align-self: left;     
    }
}