.App-header {
    background-color: #ffffff;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-logo {
    height: 19vmin;
    pointer-events: none;
  }