.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px 0;
  min-height: 350px;
  .App-logo {
    width: 300px;
  }
  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 30px 0 30px 0;
    .connection-form {
      display: flex;
      flex-direction: column;
      height: 350px;
      width: 40%;
      margin: 0 0 30px 0;
      background-color: rgba(243, 243, 243, 0.64);
      box-shadow: -1px 2px 7px 3px rgba(191, 177, 177, 0.64);
      border-radius: 20px;
      &:hover {
        box-shadow: -1px 2px 7px 3px rgb(247, 121, 121);
      }
      .form-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        &-header {
          display: flex;
          justify-content: space-evenly;
          margin: 10px 0;
          button {
            background-color: rgba(243, 243, 243, 0.64);
            border: none;
            &:hover {
              background: $color-1;
              color: white;
            }
            &.active-btn {
              background: $color-2;
              color: black;
              &:hover {
                background: $color-1;
                color: white;
              }
            }
          }
        }
      }
    }
  }

  &-signup,
  &-login {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: fit-content;
    h2 {
      color: red;
    }
    form {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 80%;
      padding: 10px;
      margin: auto;
      label {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        text-align: center;
        input {
          width: 80%;
          align-self: center;
          margin-top: 5px;
          &:active {
            outline: none;
          }
        }
      }
    }
    p {
      align-self: center;
      margin-bottom: 15px;
      margin-left: 5px;
      color: #ff7b77;
    }
    button {
      width: 60%;
      align-self: center;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .home-container {
    .connection-form {
      width: 60%;
    }
  }
}
@media only screen and (max-width: 680px) {
  .home-container {
    .connection-form {
      width: 95%;
    }
  }
}
