.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 55px;
    background-color: rgb(248, 184, 184);
    box-shadow: -1px 2px 7px 3px rgb(247, 121, 121);
    &-left{
        display: flex;
    }
    &-right{
        display: flex;
        &-link{
            margin-right: 10px;
            text-decoration: none;
            align-self: center;
            color: black;
            &:hover{
                color: white;
            }
        }
    }
    &-logo{
        height:100%;
        width: fit-content;
    }
    &-links{
        display: flex;
        flex-direction: row;
        align-self: center;
        align-content: center;
        justify-content: center;
        height: 45px;
        background-color:  rgb(248, 184, 184);
        li{
            list-style: none;  
            display: flex;
            margin-right: 25px;
            height: auto;
            a{
                display: flex; 
                align-items: center;
                justify-content: center;
                height: auto;
                width: 100px;
                font-weight: 500;
                font-size: 20px;
                color: black;
                text-decoration: none;
                &.active{
                    background-color: rgb(241, 8, 8);
                    color: blanchedalmond;
                }
            }
        } 
    }
    &-btn-disconnect{
        border: none;
        font-weight: 500;
        background-color: rgb(241, 8, 8);
        color: blanchedalmond;
        &:hover{
            box-shadow: -1px 2px 7px 3px rgba(248, 248, 248, 0.5) inset;
        }
    }
}