.post-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  padding: 16px;
  border-radius: 20px;
  background: $color-4;
  .post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0;
    textarea {
      height: 62px;
      width: 100%;
      font-size: 1.2rem;
      padding: 12px 15px;
      border-radius: 20px 20px 6px 20px;
    }
    .card-container {
      background: $white;
      border-radius: 20px 20px 6px 20px;
    }
  }
  .footer-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;

    .icon {
      position: relative;
      cursor: pointer;
      width: 30px;
      height: 20px;
      img {
        position: absolute;
        height: 24px;
        width: 24px;
      }
      input {
        width: 25px;
        height: 25px;
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &::-webkit-file-upload-button {
          cursor: pointer;
        }
      }
    }
  }
  .btn-send {
    .cancel {
      border-radius: 20px;
      margin-right: 8px;
      background: $white;

      &:hover {
        color: $color-4;
        background: $color-3;
      }
    }
    .send {
      color: black;
      &:hover {
        letter-spacing: 2px;
        color: white;
      }
    }
  }
}
