.profile {
  width: 40%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 30px 15px;
    padding: 15px;
    background-color: #fdeeee;
    border-radius: 20px;
    h1 {
      text-align: center;
      margin: 10px 0;
      font-size: 25px;
      width: 100%;
    }
    .update-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      margin: 10px 0;
      background-color: #fdeeee;
      border-radius: 20px;
      .left-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        margin: 10px 0;
        width: 100%;
        h3 {
          font-size: 15px;
          margin: 10px;
        }
        img {
          width: 150px;
          border-radius: 15px;
        }
        .upload-pic {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 15px;
          width: 100%;
          label {
            width: 35%;
            height: 30px;
            text-align: center;
            background: rgb(212, 212, 212);
            color: black;
            border-radius: 20px;
            padding: 3px 5px;
            transition: 0.2s;
            z-index: 10;
            cursor: pointer;
            font-size: 13px;
          }
          input[type="file"] {
            display: none;
          }
          input[type="submit"] {
            padding: 5px;
            border-radius: 20px;
            font-size: 15px;
            width: 35%;

            &:hover {
              letter-spacing: 1px;
            }
          }
        }
      }
      .right-part {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 10px 0;
        h3 {
          font-size: 15px;
        }
        p {
          margin: 10px;
        }
      }
    }
  }
  .btn-container {
    align-items: center;
    width: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .profile {
    width: 95%;
    &-container {
      width: 100%;
    }
  }
}
